body 
{
	overflow: hidden;
}

.bigpanel
{
	margin: 0;
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 300px;
	right: 0;
}

#preloader
{
	background-color: black;
	color: lightgray;
	text-align: center;
	font-size: 35px;
	padding: 100px;
	padding-top: 200px;
}

#time
{
	float: right;
	padding-left: 30px;
	padding-right: 20px;
}

#toolbar 
{
	z-index: 99999;
	top: 0;
	position: absolute;
	height: 28px;
	background: black;
	width: calc(100% - 30px);
	border-bottom: 2px solid gray;
	color: white;
	padding: 10px;
	font-size: 20px;
}

button
{
	margin-left: 5px;
	float: right;
}

#files
{
	margin: 0;
	position: absolute;
	top: 50px;
	bottom: 0;
	width: 300px;
	left: 0px;
}

body
{
	background-color: black;
	font-family: Helvetica, Arial, sans-serif;
}